@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  margin: 0;
  min-height: 100vh;
}

.skeleton {
  @apply animate-pulse rounded-xl bg-slate-200;
}
